@include mediaMd {
  h1 {
    font-size: 2rem;
  }

  #head {
    height: max-content;

    .logo1 {
      margin: 5rem auto 2rem auto;
      max-width: 60%;
    }

    .overlay {
      width: 100%;
      height: max-content;
    }

    h1 {
      margin-bottom: 0;
    }

    .app-button {
      display: block;
      margin: 1rem auto 2rem auto;
      padding: 1rem 1.5rem;
      width: 8rem;
    }
  }

  #vision {
    height: 35rem;
    min-height: max-content;

    p {
      font-size: 1.5rem;
    }
  }

  #app {
    .box1 {
      padding: 0;
      padding-top: 4rem;
    }

    .box2 {
      img {
        padding-top: 0;
        padding-bottom: 2rem;
      }
    }
  }

  #rule {

  }
}

@include mediaSm {
  h1 {
    font-size: 1.5rem;
  }

  #head {
    height: max-content;

    .overlay {
      width: 100%;
      height: max-content;
    }

    h1 {
      margin-bottom: 0;
    }

    .app-button {
      display: block;
      font-size: 0.8rem;
      margin: 1rem auto 1.5rem auto;
      padding: 0.8rem 1.2rem;
      width: 6rem;
    }
  }

  #vision {
    p {
      font-size: 1.2rem;
    }
  }
}
